<CascadingAuthenticationState>
    <CustomRouteView DefaultLayout="@typeof(MainLayout)">
        <NotFoundContent>
            <PageTitle>Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFoundContent>
    </CustomRouteView>
</CascadingAuthenticationState>